:root{
    --primary: #FFFFB3;
    --secondary: #6A381F;
    --complimentary0: #6E0D25;
    --complimentary1: #719E2F;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary);
    font-family: inter,Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3{
    font-family: Unbounded, Arial, Helvetica, sans-serif;
}

/* Nav bar */

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 5.8rem;
    border-bottom: 1px solid var(--complimentary1);
    z-index: 999;
    
}

nav ul{
    object-fit: cover;
    background-color: #729e2f6d;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}


nav a{
    text-decoration: none;
    color: var(--primary);
    height: 100%;
    padding: 4rem;
}

nav li:first-child{
    margin-right: auto;
}

#sidebar{
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25rem;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    gap: 10px;
    animation: fade 0.1s linear;
}
#sidebar li{
    padding: 1rem 0;
}

#Log0{
    width: 100%;
    max-width: 120px;
}

nav a:hover{
    text-decoration: underline;
}

/* Header */

header{
    min-height: 100vh;
    background-image: url(images/image1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0rem 4rem;
    justify-content: center;
    gap: 3vw;
}

header h1{
    margin-top: 6rem;
    color: var(--primary);
    font-size: clamp(3rem, 6rem, 10vw);
    font-weight: bold;
    line-height: clamp(3rem,6.25rem,10vw);
    text-shadow:1px 2px  var(--complimentary1);
    max-width: 30vw;
    animation: fade1 0.5s linear;
}

header p{
    animation: fade2 0.8s linear;
    color: var(--primary);
    text-shadow: 1px 1px var(--complimentary0);
    max-width: 38rem;
}

/* Sections */

.container{
    display: flex;
    padding: 0 4rem;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: clamp(18.5rem,39rem,70vw);  
    height: clamp(18.5rem,39rem,60vh);; 
    overflow: hidden;
    border: 4px solid var(--secondary);
    border-radius: 2rem;
    animation: appear linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.img-container img {
    width: 100%;       
    height: 100%;      
    object-fit: cover; 
    object-position: center; 
} 

#amenities{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
    align-items: flex-start;
    color: var(--secondary);
}

#amenities li{
    animation: appear linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    max-width: 38rem;
}

/* Popular menu */

.carousel{
    display: flex;
    overflow: auto;
}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 0 2rem;
    animation: scroll-horizontal 10s linear infinite
}

.item{
    height: clamp(20rem,26.25rem,50vh);
    width: clamp(14rem,20.5rem,50vw);
    background-color: var(--complimentary1);
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.item p{
    align-self: flex-start;
    color: var(--primary);

}

.item-image{
    width: 100%;
    height: 60%; 
    border-radius: 10px;
    overflow: hidden;
}

.item-image img{
    width: 100%; 
    height: 100%;           
    object-fit: cover; 
    object-position: center;
}

/* Location */
#address{
    text-align: right;
    color: var(--secondary);
    animation: fadeup both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
}
/* About */

.about{
    min-height: 28rem;
    background-image: url(images/image5.webp);
    background-color: #6a381f88;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    gap:4rem;
    padding: 6rem 4rem;
    position: relative;
    z-index: 1;
}

.about::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #6a381f66;
    position: absolute;
    z-index: -1;
}

.about p{
    z-index: 101;
    color: var(--primary);
}
/*Footer*/

footer{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Utilities */
.sub-heading{
    text-align: center;
    margin: 4rem;
    color: var(--secondary);
    font-size: clamp(2rem,3rem,8vw);
    font-weight: lighter;
}
.regular-l{
    max-width: 38rem;
    font-size: clamp(1rem,3rem,9vw);
    font-weight: 300;
}
.regular{
    font-size: clamp(0.5rem,1.5rem,3vw);
    font-weight: 200;
}
.btn{
    background-color: var(--complimentary1);
    height: max(3rem,7vh);
    width: clamp(5rem,17.5rem,30vw);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--complimentary0);
    font-size: clamp(2vh,1.5rem,3vw);
    border-radius: 16px;
    box-shadow: 8px 8px var(--complimentary0);
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
}

.btn:hover{
    transform: translate(8px,8px);
    box-shadow: none;
}


/* Animations */
@keyframes fade {
    0%{
        transform: translateX(4rem);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes fade1 {
    0%{
        opacity: 0;
        transform: translateY(1.5rem);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes fade2 {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes appear {
    from {
        transform:  scale(0.9);
        filter: blur(2px);
    }
    to {
        transform: scale(1);
        filter: blur(0);
    }
}

@keyframes scroll-horizontal {
    from{
        translate: 0;
    }
    to{
        translate: -100%;
    }
}

@keyframes fadeup {
    from{
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* media quaries */

@media(max-width: 999px) {
    .hideonmobile{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    #address{
        text-align: center;
    }
}

@media(min-width: 999px) {
    .hideondesktop{
        display: none;
    }
}


@media(max-width:600px){
    #sidebar{
        width: 100%;
    }
    nav a{
        padding: 2rem;
    }
    header{
        padding: 0 2rem;
    }
}



