:root{
    --primary: #FFFFB3;
    --secondary: #6A381F;
    --complimentary0: #6E0D25;
    --complimentary1: #719E2F;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--primary);
    min-height: 100vh;
}

/* Nav bar */

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 4.8rem;
    padding: 1rem 0;
    font-family: Gilda Display,'Times New Roman', Times, serif;
}

nav ul{
    
    height: 100%;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: var(--primary);
    height: 100%;
    padding: 4rem;
}

nav li:first-child{
    margin-right: auto;
}

#sidebar{
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25rem;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    gap: 10px;
    animation: appear 0.1s linear;
}
#sidebar li{
    padding: 1rem 0;
}

#Log0{
    width: 100%;
    max-width: 120px;
}

nav a:hover{
    text-decoration: underline;
}

@media(max-width: 999px) {
    .hideonmobile{
        display: none;
    }
}

@media(min-width: 999px) {
    .hideondesktop{
        display: none;
    }
}

@media(max-width:500px){
    #sidebar{
        width: 100%;
    }
    nav a{
        padding: 2rem;
    }

}

/* Header */

header{
    min-height: 100vh;
    background-image: url(images/image1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    justify-content: center;
    gap: 2rem;
}

header h1{
    font-family: DM Serif Display;
    color: var(--primary);
    font-size: 8rem;
    line-height: 6.25rem;
    text-shadow:1px 2px  var(--complimentary1);
    max-width: 38rem;
    animation: fade1 0.5s ease-in;
}

header p{
    animation: fade2 1s ease-in;
}

/* Sections */

/* Utilities */
.regular{
    font-family: Gilda Display,'Times New Roman', Times, serif;
    color: var(--primary);
    max-width: 38rem;
    font-size: 1.5rem;
}
.btn{
    background-color: var(--complimentary1);
    height: 4rem;
    width: 17.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--complimentary0);
    font-size: 1.5rem;
    border-radius: 16px;
    box-shadow: 8px 8px var(--complimentary0);
}

.btn:hover{
    transform: translate(8px,8px);
    box-shadow: none;
}

/* Animations */
@keyframes appear {
    0%{
        transform: translateX(4rem);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes fade1 {
    0%{
        opacity: 0;
        transform: translateY(1.5rem);
    }
    100%{
        opacity:initial;
        transform: translateY(0);
    }
}

@keyframes fade2 {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity:initial;
        transform: translateY(0);
    }
}
